body{
    background-color: wheat;
    margin: 0;
    padding: 0;
}
h1{
    color: black;
    margin: 1px;
}
h2{
    color: navy;
    margin: 2px;
}
h3{
    color: navy;
    margin: 3px;
}
p{
    color: rgb(33, 0, 46);
    margin: 3px;
}
li{
    color: rgb(33, 0, 46);
    margin: 4px;
}
a{
    color: blue;
    margin: 3px;
}
.Header{
    background-color: burlywood;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin: 0%;
}
.Side_Bar{
    background-color: burlywood;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 300%;
    padding: 15px;
    margin: 0%;
    height: 100%;
    width: 5%;
    float: left;
    border-style: solid;
    border-width: 2px;
    border-color: silver;
}
.main_page{
    background-color: bisque;
    margin-left: 10%;
    width: 30%;
    height: 30%;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
}
.territorios{
    background-color: bisque;
    margin-left: 10%;
    width: 30%;
    height: 30%;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
}

/* Estilos para as páginas dos territórios */
.A_images{
    background-color: bisque;
    margin-left: 10%;
    width: 30%;
    height: 30%;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
}
input[type="checkbox"]:checked + label {
    color: gray;
    font-weight: bold;
}